* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--dark: #2E3440;
	--light: #ECEFF4;
	--blue: #5E81AC;
	--green: #A3BE8C;
	--red: #BF616A;
	--unit: 1rem;
}

html {
	font-family: sans-serif;
	font-size: calc(3 * var(--unit));
	font-weight: 600;
	background: var(--dark);
	color: var(--dark);
}


.wrapper {
	background: var(--light);
	display: flex;
	flex-flow: column nowrap;
	margin: calc(2 * var(--unit)) calc(2 * var(--unit));
}

header {
	background: var(--blue);
	margin: calc(.5 * var(--unit));
	padding: calc(.5 * var(--unit));
}

header h1 {
	font-size: calc(2 * var(--unit));
}

#form {
	display: inline-flex;
	justify-content: space-between;
	margin: calc(.5 * var(--unit));
}

#form #article {
	font-size: calc(1 * var(--unit));
	font-weight: 600;
	background: var(--light);
	border: solid;
	color: var(--dark);
	outline: none;
	padding: calc(.5 * var(--unit));
	width: 100%;
}

#form #add:hover {
	background: var(--green;)
}

#list {
	list-style: none;
	margin: calc(.5 * var(--unit));
}

#list li {
	display: inline-flex;
	justify-content: space-between;
	margin-bottom: calc(.5 * var(--unit));
	width: 100%;
}

#list li span {
	background: var(--dark);
	color: var(--light);
	padding: calc(.5 * var(--unit));
	width: 100%;
}

#list li:last-of-type {
	margin-bottom: 0;
}

footer {
	display: inline-flex;
	justify-content: space-between;
	margin: calc(.5 * var(--unit));
}

footer #data {
	background: var(--blue);
	padding: calc(.5 * var(--unit));
	width: 100%;
}

footer #clear {
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border: solid;
	background: var(--light);
	color: var(--dark);
	width: calc(2.5 * var(--unit));
	margin-left: var(--unit);
}

button img {
	height: var(--unit);
	filter: invert(16%) sepia(17%) saturate(790%) hue-rotate(181deg) brightness(94%) contrast(86%);
}

button#add:hover {
	background: var(--green);
}

button.remove:hover,
button#clear:hover {
	background: var(--red);
}

/*
.wrapper ul {
    list-style: none;
    margin: calc(.5 * var(--unit)) var(--unit);
    padding: 0;
}

.wrapper ul li {
    display: inline-flex;
    justify-content: space-between;
    margin: calc(.5 * var(--unit)) 0;
    width: 100%;
}

.wrapper ul li span {
    background: #2E3440;
    color: #ECEFF4;
    padding: var(--unit) var(--unit);
    width: 100%;
}

.wrapper .footer {
    display: inline-flex;
    justify-content: space-between;
    margin: var(--unit) var(--unit);
}

.wrapper .footer footer {
    background: #5E81AC;
    padding: var(--unit) var(--unit);
    width: 100%;
}

.wrapper .footer button {
    align-items: center;
    background: #ECEFF4;
    border: solid;
    color: #2E3440;
    cursor: pointer;
    display: inline-flex;
    font-size: .calc(.5 * var(--unit));
    margin-left: var(--unit);
    outline: none;
    padding: var(--unit) var(--unit);
}

.wrapper .footer button i {
    margin: 0 var(--unit) 0 0;
}

.wrapper form button, .wrapper ul li button {
    background: #ECEFF4;
    border: solid;
    color: #2E3440;
    cursor: pointer;
    margin-left: var(--unit);
    outline: none;
    padding: var(--unit) var(--unit);
}

.wrapper ul li button:hover, .wrapper .footer button:hover {
    background: #BF616A;
} */
