body {
    display: flex;
    box-sizing: border-box;
    background: #2E3440;
    font-size: 2vh;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #2E3440;
}

.paper {
    position: relative;
    margin: 5% auto;
    box-shadow: 1vw 1vh 5vh #000000;
    width: 70vw;
    background: #ECEFF4;
}

.paper header {
    background: #5E81AC;
    margin: 2vh 2vw 2vh 2vw;
    padding: 1vh 1vw 1vh 1vw;
    font-size: 4em;
}
.paper input {
    background: none;
    margin: 0vh 2vw 0vh 2vw;
    border: solid;
    outline: none;
    width: 100%;
    padding: 1vh 1vw 1vh 1vw;
    font-size: 2em;
    color: #2E3440;
}

.paper input::placeholder {
    font-size: 1em;
    font-weight: bold;
    color: #2E3440;
}

.paper ul {
    margin: 0vh 2vw 0vh 2vw;
    padding: 0vh 0vw 0vh 0vw;
}

.paper ul li {
    background: #2E3440;
    margin: 1vh 0vw 1vh 0vw;
    padding: 1vh 1vw 1vh 1vw;
    font-size: 2em;
    list-style: none;
    color: #ECEFF4;
}

.paper footer {
    background: #5E81AC;
    margin: 2vh 2vw 2vh 2vw;
    padding: 1vh 1vw 1vh 1vw;
    font-size: 2em;
}