* {
    box-sizing: border-box;
    font-size: 4vh;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

html {
    background: #2E3440;
    color: #2E3440;
}

.wrapper {
    background: #ECEFF4;
    display: flex;
    flex-direction: column;
    margin: 5vh 20vw;
}

.wrapper header {
    background: #5E81AC;
    font-size: 2em;
    margin: 1vh 1vw;
    padding: 1vh 1vw;
}

.wrapper .textarea {
    margin: 1vh 1vw;
    justify-content: space-between;
    display: inline-flex;
}

.wrapper .textarea input {
    border: solid;
    outline: none;
    padding: 1vh 1vw;
    color: #2E3440;
    background: #ECEFF4;
    width: 100%;
}

.wrapper .textarea button {
    outline: none;
    border: solid;
    padding: 1vh 1vw;
    margin-left: 1vw;
    color: #2E3440;
    background: #ECEFF4;
    cursor: pointer;
}

.wrapper .textarea button:hover {
    background: #A3BE8C;
}

.wrapper input::placeholder {
    color: #2E3440;
}

.wrapper ul {
    list-style: none;
    margin: 1vh 1vw 0vh 1vw;
    padding: 0;
}

.wrapper ul li {
    justify-content: space-between;
    display: inline-flex;
    margin: 0vh 0vw 1vh 0vw;
    width: 100%;
}

.wrapper ul li .list {
    background: #2E3440;
    padding: 1vh 1vw;
    color: #ECEFF4;
    width: 100%;
}

.wrapper ul li button {
    outline: none;
    border: solid;
    padding: 1vh 1vw;
    margin-left: 1vw;
    color: #2E3440;
    background: #ECEFF4;
    cursor: pointer;
}

.wrapper ul li button:hover {
    background: #BF616A;
}

.wrapper .footer {
    justify-content: space-between;
    display: inline-flex;
    margin: 1vh 1vw;
}

.wrapper .footer footer {
    background: #5E81AC;
    padding: 1vh 1vw;
    width: 100%;
}

.wrapper .footer button {
    outline: none;
    border: solid;
    padding: 1vh 1vw;
    margin-left: 1vw;
    color: #2E3440;
    background: #ECEFF4;
    cursor: pointer;
    font-size: .5em;
}

.wrapper .footer button:hover {
    background: #BF616A;
}